.slogan {
	font-weight: 600px;
	color: rgb(240, 236, 236);
	position: absolute;
	top: 5px;
	right: 1110px;
}

/* This is for our Background */
.intro {
	background: url('../Images/Background2.gif');
	min-height: 100vh;
	background-position: center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;

	/* This takes care of the items in the ceter of the page */
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
}
body {
	border-radius: 30px;
}

.containerForm {
	width: 250px;
	height: auto;
	padding: 30px 30px;
	margin: auto;
	box-shadow: mintcream;
	background-color: rgb(20, 57, 98);
	border-radius: 30px;
}

.list {
	text-align: center;
	border-radius: 10px;
	list-style-type: none;
}
.submit {
	background-color: #4690fb;
}

input:focus {
	outline: none;
}
